<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="vue.js"></script>
    <title>Vue Switch</title>
</head>
<body>
<div id="app">
    <p v-if="show">You can see me! <span>Hello!</span></p>
    <p v-else>Now you see me!</p>
    <template v-if="show">
        <h1>Heading</h1>
        <p>inside the template</p>
    </template>
    <p>Do you also see me?</p>
    <button @click="show = !show">Switch</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            show: true
        }
    });
</script>
</body>
</html>